<div class="wrapper">
  <div id="block1" class="block">
    <h3>Input text:</h3>
    <textarea class="form-control" [(ngModel)]="decryptedMessage.decryptedText" name="inputText"></textarea>
  </div>
  <div id="block2" class="block">    
    <input class="form-control" [(ngModel)]="decryptedMessage.alphabet" name="key">
    <input class="form-control" [(ngModel)]="decryptedMessage.key" name="alphabet">
    <button class="btn btn-primary" (click)="submit(decryptedMessage)">Encrypt</button>
    <button class="btn btn-primary">Decrypt</button>
  </div>
  <div id="block3" class="block">
      <h3>Output text:</h3>
      <textarea class="form-control" [(ngModel)]="recivedDecryptedMessage.decryptedText" name="outputText"></textarea>
  </div>
</div>